.Post {
  position: relative;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.Post .img {
  height: 0;
  padding-top: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.Post .top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

.Post .top-left .creator {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.Post .top-left .createdAt {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.Post .tags {
  margin: 20px;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.Post .title {
  padding: 0 16px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  margin-bottom: 10px;
}

.Post .message {
  padding: 16px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

.Post .bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 10px;
}

.Post .bottom .like {
  display: flex;
  align-items: center;
  color: #3ee5d6;
  transition: .3s;
  border-radius: 10px;
  padding: 5px;
}

.Post .bottom .like:hover {
  background-color: #1cd4c221;
}

.Post .bottom .modify button {
  border: none;
  background-color: transparent;
  color: #3ee5d6;
  transition: .3s;
  padding: 5px;
  border-radius: 10px;
}

.Post .bottom .modify button:last-child {
  margin-left: 15px;
}

.Post .bottom .modify button:hover {
  background-color: #1cd4c221;
}